.config/zsh/plugins/*
.config/zsh/.zcompdump
.config/zsh/.zsh_sessions/

.config/tmux/plugins/*
!.config/tmux/plugins/.gitkeep

.config/nvim/lazyvim.json
.config/nvim/lazy-lock.json

.local/lib
.local/pipx
.local/bin
.local/share/*
!.local/share/applications/
.local/share/applications/*
!.local/share/applications/zen.desktop
!.local/share/applications/zen-nvidia.desktop
!.local/share/kwin/
.local/share/kwin/*
!.local/share/kwin/scripts/
.local/share/kwin/scripts/*
!.local/share/kwin/scripts/dock-migrate/
!.local/share/ksysguard/
.local/state
